body {
    font-family: Arial, sans-serif;
    background-color: #e4d4b6;
    color: #333;
    text-align: center;
}

h1 {
    font-size: 3em;
    border: 5px solid #abb8cc;

    display: inline-block;
    padding: 10px 40px;
    color: rgb(57, 97, 160);
    margin-top: 30px;

}

a {
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #0d3d8b;
    color: white;

    position: absolute;
    top: 65px;
    right: 30px;
}

a:hover {
    color: aqua;
    text-decoration: underline;
}

a:visited {
    color: #e2e8e3;
}

.menu-items img {

    opacity: 0.8;
}

#main {
    text-align: left;
    top: 100px;
    position: relative;
    list-style: none;
}

#dessert {
    text-align: right;
    bottom: 485px;
    position: relative;
    list-style: none;
}

img,
h1,
a {
    border-radius: 10px;
}