body {
    font-family: Arial, sans-serif;
    background-color: #e4d4b6;
    color: #333;
    text-align: center;
}

h1 {
    font-size: 3em;
    background-color: rgb(147, 99, 41);
    color: #0d3d8b;
    margin-top: 20px;
}

h2 {
    color: #114020;
    margin-top: 10px;
}
a {
    display: inline-block;

    padding: 10px 20px;
    background-color: #0d3d8b;
    color: white;
    border-radius: 5px;
    text-align: top;
    position: absolute;
    top: 80px;
    right: 30px;
}

img {
    width: 300px;
    height: auto;
    margin: 20px;
    border-radius: 10px;
}